.userPage__image
{
  height: 278px;
  width: 280px;
  padding: 8px;
}


.userListing__container
{
  display: flex;
  width: 100%;
  height: 280px;
  border-bottom: black 1px solid;
  box-sizing: border-box;
  padding: 5px;
}

.userListing__container:hover
{
  background-color: lightslategrey;
}

.userListing__editForm
{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  justify-content: space-between;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 2px;
  background-color: whitesmoke;
}

.userListing__editForm > textarea
{
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  resize: none;
  background-color: rgba(255, 255, 0, 0.2);
  border-radius: 5px;
}

.userListing__editForm > input
{
  height: 40px;
  background-color: rgba(255, 255, 0, 0.2);
  border-radius: 5px;
}

.userListing__editForm > label
{
  font-weight: bold;
}

.userListing__editForm > button
{
  height: 40px;
  width: 60%;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(156, 176, 189);
}

.userListing__editForm > div
{
  font-size: 25px;
  text-align: center;
}

.userListing__productDetails
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}

.userListing__productDetails > button
{
  height: 40px;
  width: 30%;
}

#userProduct___delete
{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
  border: 2px black solid;
  justify-content: space-around;
  padding: 5px;
}

#userProduct___delete > div
{
  text-align: center;
  font-size: 22px;
}

#userProduct___delete > button
{
  height: 40px;
  width: 50%;
  align-self: center;
  background-color: orangered;
}
