.userPage__image
{
  height: 278px;
  width: 280px;
  padding: 8px;
}


.userListing__container
{
  display: flex;
  width: 100%;
  height: 100%;
  border-bottom: black 1px solid;
  box-sizing: border-box;
  padding: 5px;
}

.userListing__container:hover
{
  background-color: #BBBFCA;
}

.userListing__editForm
{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  justify-content: space-between;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 2px;
  background-color: #BBBFCA;
  border-radius: 2px;
}

.userListing__editForm > textarea
{
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  resize: none;
  background-color: #E8E8E8;
  border-radius: 5px;
  margin: 7px;
}

.userListing__editForm > input
{
  height: 40px;
  background-color: #E8E8E8;
  border-radius: 5px;
  margin: 7px;
}

.userListing__editForm > label
{
  margin: 5px;
}

.userListing__editForm > button
{
  height: 40px;
  width: 40%;
  align-self: center;
  border-radius: 5px;
  background-color: #495464;
  color: white;
  box-shadow: 1px 2px 3px #495464;
  margin: 5px;
}

.userListing__editForm > button:hover {
  color: #495464;
  background-color: #F4F4F2;
  box-shadow: 1px 2px 3px #495464;
}

.userListing__editForm > div
{
  font-size: 25px;
  text-align: center;
}

.userListing__productDetails
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  width: 100%;
}

.userListing__productDetails > button
{
  height: 40px;
  width: 25%;
  color: #495464;
  background-color: #F4F4F2 ;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
}

.userListing__productDetails > button:hover {
  background-color: #495464;
  color: white;
  box-shadow: 1px 2px 3px #495464;
}

#userProduct___delete
{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 400px;
  border: 2px black solid;
  justify-content: space-around;
  padding: 5px;
}

.edit-button,
.delete-button {
    color: #495464;
    background-color: #F4F4F2 ;
    border-radius: 2px;
    width: 150px;
    height: 30px;
    padding: 7px;
    margin: 5px;
    cursor: pointer;
}

#userProduct___delete > div
{
  text-align: center;
  font-size: 22px;
}

#userProduct___delete > button
{
  height: 40px;
  width: 50%;
  align-self: center;
  border-radius: 5px;
  color: white;
  background-color: orangered;
}
