.landingContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* WELCOME */
.welcomeContainer {
    width: 95%;
    height: 40vh;
    background-image: url('../components/LandingPage/images/pocket-watch.jpeg');
    background-size: cover;
    background-position: left 30% top 10%;
    /* transform: rotateY(180deg); */
    margin: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcomeTextBox{
    background: rgb(0,0,0,.5);
    margin-right: 100px;
    box-shadow: 0px 0px 10px 10px rgb(0,0,0,.5);
    padding: 15px;
}

.header,
.subHeader{
    color: white;
    text-align: right;
    /* background: rgb(0,0,0,.5); */
}

.header {
    font-size: 4.3em;
}
.subHeader{
    font-size: 1.5em;
}

/* CATEGORIES */

.categoryBox {
    height: 40vh;
    width: 95%;
}
.singleCategory1,
.singleCategory2,
.singleCategory3,
.singleCategory4 {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.singleCategory1 {

    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8fcaea59-462c-4384-9011-39a6ca4c9be1/d78cv9a-2e5790ea-92f2-4ebe-97fc-2f8556e5b2fa.jpg/v1/fill/w_1600,h_804,q_75,strp/prehistoric_mammals_woolly_mammoths_by_balcsika_d78cv9a-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODA0IiwicGF0aCI6IlwvZlwvOGZjYWVhNTktNDYyYy00Mzg0LTkwMTEtMzlhNmNhNGM5YmUxXC9kNzhjdjlhLTJlNTc5MGVhLTkyZjItNGViZS05N2ZjLTJmODU1NmU1YjJmYS5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.a9c6ys0Uz7o0XH1H1jOxti8U7KscWetZGBXrw9l2eCA');
    background-position: left top 10%;
    background-size: cover;
}

.singleCategory2 {

    background-image: url('../components/LandingPage/images/egypt.jpeg');
    background-position: center;
    background-size: cover;
}

.singleCategory3 {
 
    /* background-image: url('../components/LandingPage/images/modern.png'); */
    background-image: url('../components/LandingPage/images/modern3.png');
    /* background-image: url('../components/LandingPage/images/modern2.jpeg'); */
    background-size: cover;
    background-position: center;

}
.singleCategory4 {

    /* background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/55a976ff-7886-4ea3-85e6-4c54897e34be/dbirjwl-1ae7f663-d263-4a67-9162-b6fc621aeee7.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU1YTk3NmZmLTc4ODYtNGVhMy04NWU2LTRjNTQ4OTdlMzRiZVwvZGJpcmp3bC0xYWU3ZjY2My1kMjYzLTRhNjctOTE2Mi1iNmZjNjIxYWVlZTcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.tV-D6XPxZ9XZe0ae8ACSvKr7mFKkNfgBebxgZ35AsT8'); */
    background-image: url('../components/LandingPage/images/future.png');
    background-position: center;
    background-size: cover;
}

/* CATEGORY TEXT STYLES */
.categoryTextBox{
    margin-left: 100px;
}
.categoryHeader,
.categorySubheader{
    color: white;
    /* text-align: left; */
}

.categoryHeader{
    font-size: 4.3em
}

.categorySubheader{
    font-size: 1.5em;
}

.categoryLink{
    color: white;
    display: block;
    width: 100px;
    height: 30px;
    background: black;
    align-self: center;
}



/* MOBILE - MEDIA QUERY STYLES */
@media screen and (max-width: 750px){
    .welcomeContainer{
        justify-content: center;
    }
    .welcomeTextBox{
        margin-right: 0px;
    }

    .header {
        font-size: 3em;
    }
    .subHeader{
        font-size: 1em;
    }
}