.categories__navlinks
{
  display: flex;
  width: 100vw;
  text-align: center;
  justify-content:center;
  border-bottom: #495464 solid 1px;
  margin-bottom: 10px;
}

.categories__titles
{
  display: flex;
  flex-direction: column;
  border: 1px solid #495464;
  border-bottom: none;
  padding: 3px;
  font-size: 20px;
  background-color: #BBBFCA;
}

.categories__titles > span
{
  font-size: 14px;
  font-style: italic;
}


.modern-nav
{
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Montserrat', sans-serif;
}

.modern-nav > span
{
  font-family: 'Lato', sans-serif;
}

.antiquities-nav
{
  margin-left: 5px;
  font-family: 'MedievalSharp', cursive;
}

.antiquities-nav > span
{
  font-family: 'Lato', sans-serif;
}

.active
{
  background-color: #F4F4F2;
}

#prehistoric {
  font-family: 'IM Fell English SC', serif;
}

#prehistoric > span {
  font-family: 'Lato', sans-serif;
}

#future {
  font-family: 'Orbitron', sans-serif;
}

#future > span {
  font-family: 'Lato', sans-serif;
}