.listingGrid__container
{
  display: grid;
  width: 70%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
  /* column-gap: 5px; */
  margin: 20px 8px 8px 8px;
  align-self: center;
}


@media screen and (max-width: 800px){
  .listingGrid__container{
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

  }
}
