.productDisplay__container
{
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  padding: 4px;
}

.productDisplay__container:hover
{
  transition:ease-in-out;
  box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.7);
  z-index: 30px;
}


.productDisplay__image
{
  width: 250px;
  height: 250px;
}
