
/* the stars: */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.outer-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 96%;
    height: 300px;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(167, 167, 167, 0.1);
    overflow: scroll;
}

.review-container:hover {
    box-shadow: 3px 3px lightgray, -1em 0 .4em lightgray;
}

.score-container{
    align-items: center;
    margin-bottom: 0.8rem;
    font-size: 2rem;
}

.score-stars {
    margin-left: 0.8rem;
}

.review-text {
    line-height: 1.45;
}

.open-edit-form,
.delete-review-button {
    background-color: rgba(230, 159, 29, 0.6);
    border-radius: 2px;
    height: 30px;
    padding: 7px;
    margin: 3px;
    float: left;
    cursor: pointer;
}

.open-edit-form:hover,
.delete-review-button:hover {
    box-shadow: 1px 2px 3px lightslategray;
} 

.add-review-button {
    background-color: rgba(230, 159, 29, 0.6);
    border-radius: 2px;
    height: 30px;
    padding: 7px;
    margin: 2px;
    cursor: pointer;
}