
.review-form {
    margin: 5px;
    background-color: lightyellow;
    display: inline-block;
    text-align: center;
}

.score {
    font-size: 22px;
    font-weight: bold;
}

.review-title {
    font-size: 20px;
    font-weight: bold;
}

.username {
    font-size: 15px;
}

.review-header {
    font-weight: bold;
}

/* the stars: */
.rate {
    display: inline-block;
    text-align: center;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.review-box {
    margin: auto;
}

.review-box > textarea {
    border-radius: 2px;
    text-align: center;
}

.submit-button,
.cancel-button {
    background-color: rgba(230, 159, 29, 0.6);
    border-radius: 2px;
    width: 200px;
    height: 30px;
    padding: 7px;
    margin: 5px;
    cursor: pointer;
}

.submit-button:hover,
.cancel-button:hover {
    box-shadow: 1px 2px 3px lightslategray;
}