.reviews-h2 {
    font-size: 25px;
    font-weight: bolder;
    margin: 5px;
}

.outer-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 96%;
    height: 300px;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    background-color: #F4F4F2;
    overflow: scroll;
}

.review-container {
    margin: 5px;
}

.score-container{
    align-items: center;
    margin-bottom: 0.8rem;
    font-size: 2rem;
}

.score-stars {
    margin-left: 0.8rem;
}

.review-text {
    font-family: Montserrat, sans-serif;
}

.open-edit-form,
.delete-review-button {
    background-color: rgba(230, 159, 29, 0.6);
    justify-items: right;
    border-radius: 2px;
    height: 30px;
    padding: 7px;
    margin: 5px;
    float: left;
    cursor: pointer;
}

.open-edit-form:hover,
.delete-review-button:hover {
    box-shadow: 1px 2px 3px #495464;
} 

.new-review {
    background-color: rgba(230, 159, 29, 0.6);
    align-self: center;
    justify-content: center;
    border-radius: 2px;
    width: 200px;
    height: 30px;
    padding: 7px;
    margin: 5px;
    cursor: pointer;
}

.new-review:hover {
    box-shadow: 1px 2px 3px lightslategray;
}